
table {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

thead th {
    background-color: green; 
    color: white;
    padding: 12px;
}

tbody tr:nth-child(even) {
    background-color: lightgray;
}



td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
